body {
  padding: 20;
  margin: 20;
  /* overflow: hidden; */
}

text {
  font-family: 'Oswald', sans-serif;
  fill: #444;
}

h2 text {
  font-family: 'Oswald', sans-serif;
}

.axis text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
}

.axis path, .axis line {
  fill: none;
  stroke: #888;
  shape-rendering: crispEdges;
}

.color-legend text {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}

.d3-tip {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  line-height: 1;
  padding: 7px;
  background: black;
  color: lightgray;
  border-radius: 20px;
}

#chart {
    width: 1200px;
    height: 460px;
    overflow-y: auto;
  }

#legend {
    width: 300px;
    height: 460px;
  }
  
#footer {
    /* background-color: #2A2C39; */
    margin-bottom: 0;
}

#footer p {
    color: white;
    /* margin-bottom: 0; */
}

#map
 {
  height: 100%;
  padding-top: 400px;
  padding-right: 30px;
  padding-bottom: 400px;
  padding-left: 80px;

}
* {
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
  }
  
  html,
  body {
    height: 80%;
    padding: 20;
    margin: 20;
  }
  
  /* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
  .wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 130px;
    overflow: auto;
  }
  
  
  .navbar {
    padding: 10px;
    margin: 0;
  }

  /* * {  box-sizing: border-box;} */

  .slider { width: 50%; margin: 100px auto;}

  .slick-slide {margin: 0px 20px;}

  .slick-slide img {  width: 100%;}

  .slick-prev:before,
  .slick-next:before { color: black;}


  .slick-slide {  transition: all ease-in-out .3s;  opacity: .2;}

  .slick-active { opacity: .5;}

  .slick-current { opacity: 1;}
  
  
  .filters .panel-body {
    padding: 0;
  }
  
  .filters {
    margin-top: 10px;
  }
  
  select {
    display: block;
    width: 100%;
    padding: 8px;
    color: #8e979f;
    outline: none;
  }
  
  #table-area th {
    text-align: center;
  }
  
  #table-area th:first-child,
  #table-area th:nth-child(2),
  #table-area th:nth-child(6) {
    min-width: 70px;
  }
  
  .loader {
    margin-top: 50px;
  }
  
  .margin-top-50 {
    margin-top: 50px;
  }
  
  /* The styles for the parallax */
  .hero {
    position: relative;
    height: 500px;
    padding: 20px;
    margin: 0;
    background: black;
    background-image: url("hero/daretoshine.jpg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
  }
  
  .hero h1 {
    margin-top: 200px;
    font-size: 0.1rem;
    animation: title 1.2s forwards linear;
    color: gold;

  }
  
  .hero h3 {
    font-size: 2rem;
    opacity: 0;
    animation: subtitle 1.2s forwards linear;
    animation-delay: 1.2s;
    color: gold;
  }
  

  .hero2 {
    position: relative;
    height: 500px;
    padding: 20px;
    margin: 0;
    background: black;
    background-image: url("hero/dc_wharf.jpg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
  }
  
  .hero2 h1 {
    margin-top: 200px;
    font-size: 0.1rem;
    animation: title 1.2s forwards linear;
    /* color: grey; */
  }
  
  .hero2 p {
    font-size: 2rem;
    opacity: 0;
    animation: subtitle 1.2s forwards linear;
    animation-delay: 1.2s;
    /* color: grey; */
  }

  @import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
* {
	margin: 0;
	padding: 0;
}
.hero3 {
    position: relative;
    height: 200px;
    padding: 20px;
    margin: 0;
    background: black;
	height: 100vh;
	background: linear-gradient(45deg, rgba(255,175,189,.7), rgba(100,216,243,.7), rgba(234,236,198,.7), rgba(245,146,176,.7), rgba(52,219,216,.7)) 0 0 / 1000% no-repeat, url("hero/dc_panoramic.jpg") 0 0 / cover no-repeat;
	-webkit-animation: gradientAnimation 40s ease infinite;
    animation: gradientAnimation 40s ease infinite;
    /* background-image: url("/assets/images/dc_panoramic.jpg"); https://picsum.photos/g/2000/1200?image=443 */
    background-attachment: fixed;
}

.hero3 h1 {
    margin-top: 200px;
    font-size: 0.1rem;
    animation: title 1.2s forwards linear;
    color: rgb(155, 45, 63);
  }

.hero4 {
    
    background-color: #2A2C39;
    position: relative;
    height: 550px;
    padding: 20px;
    margin: 0;
    background: black;
    background-image: url("hero/daretoshine2.jpg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
  }
  
  .hero4 h1 {
    margin-top: 200px;
    font-size: 0.1rem;
    animation: title 1.2s forwards linear;
    /* color: grey; */
  }
  .hero5 {
    position: relative;
    height: 500px;
    padding: 20px;
    margin: 0;
    background: black;
    background-image: url("hero/dc_mosaic_flag.png");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
  }
}

@-webkit-keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
@keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}



  /* input placeholder color changes */
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #8e979f;
  }
  
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #8e979f;
  }
  
  .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #8e979f;
  }
  
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #8e979f;
  }
  
  /* media queries which will only be activated at specific screen sizes */
  @media (max-width: 800px) {
    #table-area td {
      font-size: 1em;
    }
  }
  
  @media (max-width: 500px) {
    #table-area thead {
      display: none;
    }
  
    #table-area tr td:first-child {
      font-size: 1.8em;
      font-weight: bold;
      background: #1b3146;
    }
  
    #table-area tr td:last-child {
      margin-bottom: 20px;
    }
  
    #table-area tr td:last-child::after {
      display: block;
      width: 100%;
      height: 1px;
      margin-top: 20px;
      content: " ";
      background: aliceblue;
    }
  
    #table-area td {
      font-size: 1.25em;
    }
  
    #table-area tbody td {
      display: block;
      text-align: center;
    }
  
    #table-area tbody td::before {
      display: block;
      font-size: 1.4em;
      font-weight: bold;
      text-align: center;
      content: attr(data-th);
    }
  
    .hero h1 {
      animation: smaller-title 1.2s forwards linear;
    }
  }
  
  /* keyframe animations which will be used to animate the title */
  @keyframes title {
    from {
      opacity: 0;
    }
  
    to {
      font-size: 7.5rem;
      opacity: 1;
    }
  }
  
  @keyframes smaller-title {
    from {
      opacity: 0;
    }
  
    to {
      font-size: 5.5rem;
      opacity: 1;
    }
  }
  
  @keyframes subtitle {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
.border-webkit{
  -webkit-text-stroke: 2px black;
}