    <footer class="text-center">
            <!-- <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
                    <span class="glyphicon glyphicon-chevron-up"></span> -->
            </a><br>
            <p><i><a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github fa-2x fa-secondary"></i></a></p>
            <p>A web app built by <a href="https://github.com/{{ site.github_username }}" data-toggle="tooltip" title="Visit Our Repo">Team GELCAP</a>, 2019</p> 
        <p></p>
    
    </footer>