<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/index.html">
          <img src="/assets/images/world-cup.svg" width="35" height="35" class="d-inline-block align-top" alt="World Cup Logo">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/blog.html">Blog</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Visuals
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/locations.html">Locations<span class="glyphicon glyphicon-map-marker"></span></a></li>
              <li><a href="/charts.html">Dashboards<span class="glyphicon glyphicon-signal"></span></a></li>
              <li><a href="/gauge.html">Gauge<span class="glyphicon glyphicon-dashboard"></span></span></a></li>
              <li><a href="/sentiment.html">Sentiment <span class="glyphicon glyphicon-heart"></span><br>Timeline</a></li>
              <li><a href="/tweets.html"><i class="fa fa-twitter fa-1x fa-primary"></i> Visuals</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/latest.html">Latest<span class="glyphicon glyphicon-fire"></span></a></li> 
            </ul>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
