<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>



      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <!-- <a class="navbar-brand" href="">Home</a> -->
                  <a class="navbar-brand" href="/">
                      <img src="static/images/world-cup.svg" width="35" height="35" class="d-inline-block align-top" alt="">
                    </a>
                  <!-- img src="/assets/images/dcflag.svg" -->
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
  
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="/story">The Story<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Visualizations<span class="sr-only">(current)</span></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/equity">Equity</a>
                              <a class="dropdown-item" href="/charts">The Data</a>
                              <a class="dropdown-item" href="/locations">Locations</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href=""> </a>
                        </div>
                      </li>
                    </ul>
                  </div>
          </nav>
  
  
  
        <div class="hero text-center">

        <h1>Women's National Team</h1>
        <p><i>#Winners</i></p>
        </div>


    <div class="jumbotron">
        <div class="row">
            <div class="container sm-2"></div>
            <div class="container sm-4">
                <img src="static/images/world-cup-icon.svg" class="img-responsive" alt="World Cup" width="200">
            </div>
            <div class="container sm-6">
                <h1>Women's National Team</h1>
                <p><i>#Winners</i></p>
  
            </div>
          
          </div>

    </div>


    <div class="container">

      

    </div>      


    <div class="container text-center">
      <br>
      <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> and by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div><hr>
    </div>
</body>
</html>

