<!DOCTYPE html>
<html>
  <head>
    <title>Equity for Winners</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>



      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                  <!-- <a class="navbar-brand" href="">Home</a> -->
                  <a class="navbar-brand" href="/">
                      <img src="static/images/world-cup.svg" width="35" height="35" class="d-inline-block align-top" alt="">
                    </a>
                  <!-- img src="/assets/images/dcflag.svg" -->
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
  
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="/story">The Story<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Visualizations<span class="sr-only">(current)</span></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/equity">Equity</a>
                              <a class="dropdown-item" href="/charts">The Data</a>
                              <a class="dropdown-item" href="/locations">Locations</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/latest">Latest <i class="fa fa-twitter fa-1x fa-primary"></i></a>
                        </div>
                      </li>
                    </ul>
                  </div>
          </nav>
  
  
  
        <div class="hero text-center">

       
        </div>

        <br>

    <div class="container">
    <div class="jumbotron text-center">
        
                    <!-- <h1>The Latest <i class="fa fa-twitter fa-1x fa-primary"></i></h1> -->
                    <h1>The Latest <i class="fa fa-futbol fa-1x fa-primary"></i></h1>

    </div>
    </div>


    <div class="container">

      

    </div>      


    <div class="container text-center">
      <br>
      <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> and by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div><hr>
    </div>
<div class="container text-center">
    <p><i><a href="https://github.com/eherchen/DATA_womens-soccer"><i class="fa fa-github fa-2x fa-secondary"></i></a></p>
  </div>

    <footer class="jumbotron text-center bg-primary disabled" id="footer">

        <p>© Copyright Team GELCAP, 2019</p>
        <p></p>
        
    
    
    </footer>

</body>
</html>

